node_modules
yarn-debug.log*
yarn-error.log*
.nuxt
.output
.git
.gitignore
README.md
.env
.env.local
.env.*.local
Dockerfile
docker-compose.yml
.dockerignore
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz